# Hands-on Lab: Complete the EDA with SQL
This notebook completes the SQL-based exploratory data analysis using the SpaceX dataset.
Dataset source: [SpaceX.csv](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv)

In [ ]:
!pip install sqlalchemy==1.3.9 ipython-sql prettytable pandas

In [ ]:
%load_ext sql
import sqlite3, pandas as pd, prettytable
prettytable.DEFAULT = 'DEFAULT'
con = sqlite3.connect('my_data1.db')
%sql sqlite:///my_data1.db

In [ ]:
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv'
df = pd.read_csv(url)
df.to_sql('SPACEXTBL', con, if_exists='replace', index=False, method='multi')
%sql DROP TABLE IF EXISTS SPACEXTABLE;
%sql CREATE TABLE SPACEXTABLE AS SELECT * FROM SPACEXTBL WHERE Date IS NOT NULL;

## Task 1 – Display unique launch sites

In [ ]:
%sql SELECT DISTINCT Launch_Site FROM SPACEXTABLE;

## Task 2 – Display 5 records where launch sites begin with 'CCA'

In [ ]:
%sql SELECT * FROM SPACEXTABLE WHERE Launch_Site LIKE 'CCA%' LIMIT 5;

## Task 3 – Total payload mass carried by boosters launched by NASA (CRS)

In [ ]:
%sql SELECT SUM(PAYLOAD_MASS__KG_) AS TOTAL_PAYLOAD FROM SPACEXTABLE WHERE Customer LIKE '%NASA (CRS)%';

## Task 4 – Average payload mass carried by booster version F9 v1.1

In [ ]:
%sql SELECT AVG(PAYLOAD_MASS__KG_) AS AVG_PAYLOAD FROM SPACEXTABLE WHERE Booster_Version='F9 v1.1';

## Task 5 – Date of first successful landing outcome on ground pad

In [ ]:
%sql SELECT MIN(Date) AS FIRST_SUCCESS FROM SPACEXTABLE WHERE Landing_Outcome='Success (ground pad)';

## Task 6 – Boosters with success in drone ship and payload 4000–6000

In [ ]:
%sql SELECT DISTINCT Booster_Version FROM SPACEXTABLE WHERE Landing_Outcome='Success (drone ship)' AND PAYLOAD_MASS__KG_ BETWEEN 4000 AND 6000;

## Task 7 – Number of successful and failed mission outcomes

In [ ]:
%sql SELECT Mission_Outcome, COUNT(*) AS Count FROM SPACEXTABLE GROUP BY Mission_Outcome;

## Task 8 – Booster versions with maximum payload mass

In [ ]:
%sql SELECT Booster_Version, PAYLOAD_MASS__KG_ FROM SPACEXTABLE WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTABLE);

## Task 9 – 2015 failure landing outcomes in drone ship

In [ ]:
%sql SELECT substr(Date,6,2) AS Month, Booster_Version, Launch_Site, Landing_Outcome FROM SPACEXTABLE WHERE substr(Date,1,4)='2015' AND Landing_Outcome LIKE '%Failure (drone ship)%';

## Task 10 – Rank count of landing outcomes (2010–2017)

In [ ]:
%sql SELECT Landing_Outcome, COUNT(*) AS Outcome_Count FROM SPACEXTABLE WHERE Date BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY Landing_Outcome ORDER BY Outcome_Count DESC;